/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.snack-success {
  background-color: #4caf50 !important;
  color: #fff !important;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.snack-error {
  background-color: #f44336 !important;
  color: #fff !important;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.snack-info {
  background-color: #2196f3 !important;
  color: #fff !important;
  font-weight: 500;
  letter-spacing: 0.3px;
}
