<div class="container">
  <h1>Produtos Cadastrados</h1>
  <div class="cards">
    <div class="search-container">
    <input type="text" placeholder="Buscar produto..." class="search-bar" />
    <input type="button" class="search-button" value="Buscar"/>
    </div>
    <input type="button" value="Adicionar Produto" class="add-button" (click)="adicionarProduto()"/>
    <div class="card" *ngFor="let produto of produtos">
      <div class="card-header">
        <h2>{{ produto.nome }}</h2>
        <span class="categoria">{{ produto.categoria }}</span>
      </div>
      <p class="descricao">{{ produto.descricao }}</p>
      <div class="card-footer">
        <span class="preco">R$ {{ produto.preco | number:'1.2-2' }}</span>
        <span class="estoque" [ngClass]="{'disponivel': produto.status, 'indisponivel': !produto.status}">
          {{ produto.status ? 'Disponível' : 'Indisponível' }}
        </span>
      </div>
    </div>
  </div>
</div>

