<div class="container">
  <h1>Produtos Cadastrados</h1>

    <div class="search-container">
    <input type="text" placeholder="Buscar produto..." class="search-bar" [(ngModel)]="searchBarText.input"/>
    <input type="button" class="search-button" value="Buscar" (click)="buscarProdutos()"/>
    <input type="button" value="Adicionar Produto" class="add-button" (click)="adicionarProduto()"/>
    </div>

  <div class="cards">
    <div class="card" *ngFor="let produto of produtos">
      <div class="card-header">
        <div class="notification-stock"> {{produto.quantidadeEstoque}} </div>
        <h2>{{ produto.nome }}</h2>
        <span class="categoria">{{ produto.categoria }}</span>
      </div>
      <p class="descricao">{{ produto.descricao }}</p>
      <div class="card-footer">
        <span class="preco">R$ {{ produto.preco | number:'1.2-2' }}</span>
        <span class="estoque" [ngClass]="{'disponivel': produto.status, 'indisponivel': !produto.status}">
          {{ produto.status ? 'Disponível' : 'Indisponível' }}
        </span>

        <button class="edit-button" (click)="editarProduto(produto)">Alterar</button>
        <button class="delete-button" (click)="deletarProduto(produto)">Deletar</button>
      </div>
    </div>
  </div>
</div>
